<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915378347171-6l3o5tb9jh7ns7sgij0aqsqemogdomu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915378347171-6l3o5tb9jh7ns7sgij0aqsqemogdomu2</string>
	<key>API_KEY</key>
	<string>AIzaSyBE5Dyp06ER1Ync3Ie57v6Ndl3BRxqbXHg</string>
	<key>GCM_SENDER_ID</key>
	<string>915378347171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorPert</string>
	<key>PROJECT_ID</key>
	<string>doctorpert-a8e29</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorpert-a8e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915378347171:ios:79a9189e4495148607b316</string>
</dict>
</plist>